p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    border: 10px solid palevioletred;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(206, 110, 161);
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
